<div id="attribute-range-panel" [class.flex-display]="results?.length">
    <h1 class="pt-3 px-3">Attribute Range</h1>
    <div class="px-3 py-2 range" *ngFor="let range of ranges | alphabetical"
        (click)="makeActiveRange(range)"
        [class.active]="range === activeRange">{{determineContentTypeField(range.additionalFields.contentTypeId)}}</div>
    <div *ngIf="activeAttribute && activeRange" class="details">
        <ng-container *ngIf="activeRange.additionalFields.rangeConstraint">
            <h3 class="label m-2">Range Constraint</h3>
            <div class="detail m-2 mb-3 px-2 rounded" [class.short]="rangeConstraint" (click)="rangeConstraint = !rangeConstraint">{{activeRange.additionalFields.rangeConstraint}}</div>
        </ng-container>
        <ng-container *ngIf="activeRange.additionalFields.attributeRule">
            <h3 class="label m-2">Attribute Rule</h3>
            <div class="detail m-2 mb-3 px-2 rounded" [class.short]="attributeRule" (click)="attributeRule = !attributeRule">{{activeRange.additionalFields.attributeRule}}</div>
        </ng-container>
        <ng-container *ngIf="activeRange.additionalFields.ruleStrengthId">
            <h3 class="label m-2">Mandatory</h3>
            <div class="detail m-2 mb-3 px-2 rounded">{{determineMandatoryField(activeRange.additionalFields.ruleStrengthId)}}</div>
        </ng-container>
        <ng-container *ngIf="activeRange.additionalFields.contentTypeId">
            <h3 class="label m-2">Content Type</h3>
            <div class="detail m-2 mb-3 px-2 rounded">{{determineContentTypeField(activeRange.additionalFields.contentTypeId)}}</div>
        </ng-container>
    </div>
    <div *ngIf="activeRange">
        <div>
            <h3 *ngIf="total" class="pt-3 px-3">{{total | number:'1.'}} Results Matching Range Contstraint</h3>
        </div>
        <div class="results">
            <div class="py-2 px-4 result" *ngFor="let result of results; let odd = odd" [class.odd]="odd">{{result?.fsn.term}}</div>
        </div>
    </div>
</div>
