@import "~src/variables";

div#attribute-range-panel {
    position: fixed;
    width: 33vw;
    height: calc(100vh - 12rem);
    right: 0;
    border-left: 1px solid $regent-grey;
    background-color: $alto-white;
    flex-direction: column;
    overflow-x: hidden;

    &.flex-display {
        display: flex;
    }

    h1 {
        font-weight: 300;
    }

    button.add {
        position: absolute;
        right: 0;
        top: 1.2rem;
        background: transparent;
    }

    div.range {
        position: relative;
        cursor: pointer;

        &.active {
            background-color: $tropical-blue;

            &.changed {
                background-color: $spring-rain-green;
            }
        }

        &.changed {
            background-color: $pixie-green;
        }

        &.unpublished {
            background-color: $antiquewhite;
        }

        &.deleted {
            background-color: $indianred;
        }

        button.delete {
            z-index: auto;
            position: absolute;
            top: 0.5rem;
            right: 0;
            background-color: transparent;
            color: $crimson-red;

            &:hover {
                color: $pomegranate-red;
            }
        }
    }

    div.details {
        width: 33vw;
        background-color: $ghost-grey;
        border-top: 1px solid $regent-grey;
        border-bottom: 1px solid $regent-grey;

        h5.label {
            font-weight: 300;
        }

        div.detail {
            background-color: $white;
            font-size: 1.2rem;
            line-height: 2rem;
        }

        span.mandatory{
            color: $indianred;
            cursor: none;
        }

        &.short {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        input.detail{
            color: $black;
            background-color: $white;
            font-size: 1.2rem;
            line-height: 2rem;
            width: -webkit-fill-available;
        }

        textarea.detail {
            resize: none;
            color: $black;
            background-color: $white;
            font-size: 1.2rem;
            height: 8rem;
            width: -webkit-fill-available;
        }

        select.detail{
            color: $black;
            font-weight: 300;
            background-color: $white;
            font-size: 1.2rem;
            height: 2rem;
            width: -webkit-fill-available;
        }
    }

    div.results {
        overflow-x: hidden;

        div.result {
            &.odd {
                background-color: $almost-white;
            }
        }
    }
}
