@import "~src/variables";

div#attribute-range-panel {
    position: fixed;
    width: 33vw;
    height: calc(100vh - 12rem);
    right: 0;
    border-left: 1px solid $regent-grey;
    background-color: $alto-white;
    //overflow: scroll;
    display: flex;
    flex-direction: column;

    h1 {
        font-weight: 300;
    }

    div.range {
        cursor: pointer;
        flex-grow: 1;

        &.active {
            background-color: $tropical-blue;
        }
    }

    div.details {
        //position: fixed;
        width: 33vw;
        background-color: $ghost-grey;
        border-top: 1px solid $regent-grey;
        border-bottom: 1px solid $regent-grey;
        //height: 33vh;
        flex-grow: 1;

        h3.label {
            font-weight: 300;
        }

        div.detail {
            background-color: $white;
        }
    }

    div.results {
        flex-grow: 1;
        overflow: auto;

        div.result {
            &.odd {
                background-color: $almost-white;
            }
        }
    }
}
