@import "~src/variables";

div#attribute-range-panel {
    position: fixed;
    width: 33vw;
    height: calc(100vh - 12rem);
    right: 0;
    border-left: 1px solid $regent-grey;
    background-color: $alto-white;
    flex-direction: column;
    overflow-x: hidden;

    &.flex-display {
        display: flex;
    }

    h1 {
        font-weight: 300;
    }

    div.range {
        cursor: pointer;

        &.active {
            background-color: $tropical-blue;
        }
    }

    div.details {
        width: 33vw;
        background-color: $ghost-grey;
        border-top: 1px solid $regent-grey;
        border-bottom: 1px solid $regent-grey;

        h4.label {
            font-weight: 300;
        }

        div.detail {
            background-color: $white;
        }

        &.short {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        input.detail{
            background-color: $white;
            font-size: 1.2rem;
            width: -webkit-fill-available;
        }

        select.detail{
            background-color: $white;
            font-size: 1.2rem;
            width: -webkit-fill-available;
        }
    }

    div.results {
        overflow-x: hidden;

        div.result {
            &.odd {
                background-color: $almost-white;
            }
        }
    }
}
