<div id="attribute-range-panel" [class.flex-display]="(results$ | async)?.items.length">
    <ng-container *ngIf="activeAttribute; else noAttribute">
     <ng-container *ngIf="ranges !== null">
        <ng-container *ngIf="ranges?.items.length; else noRanges">
            <h3 class="pt-3 px-3">Attribute Range</h3>
            <button type="button" *ngIf="editable && activeAttribute" class="btn-default fas fa-plus float-end add" (click)="addNewRange()"></button>
            <div *ngFor="let range of ranges?.items | fsnAlphabetical; let odd = odd" class="px-3 py-2 range" (click)="makeActiveRange(range)" [class.odd]="odd" [class.active]="range === activeRange">
                {{mrcmmtService.getContentType(range.additionalFields?.contentTypeId)}} - {{mrcmmtService.getRuleStrength(range.additionalFields?.ruleStrengthId)}}
                <ng-container *ngIf="extensionRefset(range)">
                    <ng-container *ngIf="activeBranch.shortName.includes('LOINC'); else flag">
                        <span class="l rounded-circle mx-2">L</span>
                        <!--                    <span class="loinc px-1">-->
                        <!--                        <img src="assets/loinc-avatar-on-white.png">-->
                        <!--                    </span>-->
                    </ng-container>
                    <ng-template #flag>
                        <span class="px-3 fi fi-{{activeBranch.countryCode}} flag"></span>
                    </ng-template>
                </ng-container>
                <span *ngIf="range.changed && !range.deleted" class="marker new d-inline-block px-2 m-1">UNSAVED</span>
                <span *ngIf="!range.effectiveTime && !range.changed && !range.deleted" class="marker edited d-inline-block px-2 m-1">UNPUBLISHED</span>
                <span *ngIf="range.deleted" class="marker deleted d-inline-block px-2 m-1">TO BE DELETED</span>
                <button *ngIf="editable && !range.released" class="delete float-end p-0" (click)="deleteRange()"><i class="fas fa-minus"></i></button>
            </div>
            <div *ngIf="ranges?.items && activeAttribute && activeRange" class="details">
                <ng-container *ngIf="activeAttribute.concreteDomainAttribute">
                    <div class="row">
                        <div class="col-3">
                            <h5 class="label m-2">Concrete Type<span *ngIf="editable" class="mandatory"> *</span></h5>
                            <select class="detail mx-2 mt-0 mb-3 px-2 rounded" *ngIf="editable && !activeRange.additionalFields.attributeRule || activeRange.additionalFields.attributeRule.length === 0"
                                    [(ngModel)]="activeRange.concreteDomainParameters.attributeType"
                                    (ngModelChange)="updateAttributeType()">
                                <option *ngFor="let attributeType of mrcmmtService.concreteAttributeTypes" [value]="attributeType" >{{attributeType}}</option>
                            </select>
                            <div *ngIf="activeRange.additionalFields.attributeRule && activeRange.additionalFields.attributeRule.length > 0" class="detail mx-2 mt-0 mb-3 px-2 rounded">
                                {{activeRange.concreteDomainParameters?.attributeType}}
                            </div>
                        </div>
                        <div *ngIf="activeRange.concreteDomainParameters.attributeType !== 'String'" class="col-9">
                            <h5 class="label m-2">Range Constraint<span *ngIf="editable" class="mandatory"> *</span></h5>
                            <input class="detail mx-2 mt-0 mb-3 px-2 rounded" *ngIf="editable"
                                   [(ngModel)]="activeRange.concreteDomainParameters.displayRange"
                                   (ngModelChange)="updateAttribute()">
                            <div *ngIf="!editable" class="detail mx-2 mt-0 px-2 rounded">
                                {{activeRange.concreteDomainParameters?.displayRange}}
                            </div>
                        </div>
                        <p class="px-5 error" *ngIf="activeRange.etlError">{{activeRange.etlError}}</p>
                    </div>
                </ng-container>

                <ng-container *ngIf="!activeAttribute?.concreteDomainAttribute || activeAttribute?.concreteDomainAttribute === undefined">
                    <h5 class="label m-2">Range Constraint<span *ngIf="editable" class="mandatory"> *</span></h5>
                    <div *ngIf="attributeRuleInvalid" class="detail m-2 mb-3 p-0 px-2 warning">No ECL results</div>
                    <textarea type="text" class="detail m-2 p-0 px-2 rounded" *ngIf="editable"
                              [(ngModel)]="activeRange.additionalFields.rangeConstraint"
                              [class.short]="activeRange.additionalFields.rangeConstraint"
                              (ngModelChange)="validateEcl()"
                              [class.changed]="latestReleaseRange?.additionalFields.rangeConstraint !== activeRange.additionalFields.rangeConstraint && !activeRange.effectiveTime"></textarea>
                    <div *ngIf="!editable" class="detail m-2 mb-3 ps-2 pe-5 rounded"
                         (click)="modalService.open('range-constraint-modal')"
                         [class.changed]="latestReleaseRange?.additionalFields.rangeConstraint !== activeRange.additionalFields.rangeConstraint && !activeRange.effectiveTime && !activeRange.effectiveTime">
                        {{activeRange.additionalFields.rangeConstraint}}
                        <span class="p-1"><i class="fas fa-external-link-alt"></i></span>
                    </div>
                    <p class="px-3 error" *ngIf="activeRange.etlError">{{activeRange.etlError}}</p>
                </ng-container>
                <ng-container *ngIf="activeRange.additionalFields.attributeRule">
                    <h5 class="label m-2 mb-3">Attribute Rule</h5>
                    <div class="detail m-2 mb-3 ps-2 pe-5 rounded" (click)="modalService.open('attribute-rule-modal')"
                         [class.changed]="latestReleaseRange?.additionalFields.attributeRule !== activeRange.additionalFields.attributeRule && !latestReleaseRange?.effectiveTime && !activeRange.effectiveTime"
                         [class.uneditable]="editable">
                        {{activeRange.additionalFields.attributeRule}}
                        <span class="p-1"><i class="fas fa-external-link-alt"></i></span>
                    </div>
                </ng-container>
                <ng-container *ngIf="activeRange.additionalFields.ruleStrengthId || editable">
                    <h5 class="label m-2 mb-3">Rule Strength<span *ngIf="editable" class="mandatory"> *</span></h5>
                    <select class="detail mx-2 mt-0 mb-3 px-2 rounded" *ngIf="editable"
                            [(ngModel)]="activeRange.additionalFields.ruleStrengthId"
                            (ngModelChange)="updateRange()"
                            [class.changed]="latestReleaseRange?.additionalFields.ruleStrengthId !== activeRange.additionalFields.ruleStrengthId && !activeRange.effectiveTime">
                        <option *ngFor="let ruleStrength of mrcmmtService.ruleStrengthFields" [value]="ruleStrength.id" >{{ruleStrength.term}}</option>
                    </select>
                    <div *ngIf="!editable" class="detail m-2 mb-3 ps-2 rounded"
                         [class.changed]="latestReleaseRange?.additionalFields.ruleStrengthId !== activeRange.additionalFields.ruleStrengthId && !activeRange.effectiveTime && !activeRange.effectiveTime">
                        {{mrcmmtService.getRuleStrength(activeRange.additionalFields.ruleStrengthId)}}
                    </div>
                </ng-container>
                <ng-container *ngIf="activeRange.additionalFields.contentTypeId || editable">
                    <h5 class="label m-2 mb-3">Content Type<span *ngIf="editable" class="mandatory"> *</span></h5>
                    <select class="detail mx-2 mt-0 mb-3 px-2 rounded" *ngIf="editable"
                            [(ngModel)]="activeRange.additionalFields.contentTypeId"
                            (ngModelChange)="updateRange()"
                            [class.changed]="latestReleaseRange?.additionalFields.contentTypeId !== activeRange.additionalFields.contentTypeId && !activeRange.effectiveTime">
                        <option *ngFor="let contentType of mrcmmtService.contentTypeFields" [value]="contentType.id">{{contentType.term}}</option>
                    </select>
                    <div *ngIf="!editable" class="detail m-2 mb-3 ps-2 rounded"
                         [class.changed]="latestReleaseRange?.additionalFields.contentTypeId !== activeRange.additionalFields.contentTypeId && !activeRange.effectiveTime">
                        {{mrcmmtService.getContentType(activeRange.additionalFields.contentTypeId)}}
                    </div>
                </ng-container>
            </div>
            <div class="results col" *ngIf="ranges?.items && activeRange && !activeAttribute.concreteDomainAttribute">
                <div class="p-2 px-4 result-search row">
                    <div class="search-container position-relative px-0">
                        <input type="search" class="form-control col-9" (keyup)="searchResults($event.target)">
                    </div>
                    <ng-container *ngIf="(results$ | async) as results2">
                        <span class="pt-2 px-3 col-3">{{results2.total | number:'1.'}} Results</span>
                    </ng-container>
                </div>
                <ng-container *ngIf="(results$ | async) as results2">
                    <div class="py-2 px-4 result row" *ngFor="let result of results2.items; let odd = odd" [class.odd]="odd">{{result?.fsn.term}}</div>
                </ng-container>
            </div>
        </ng-container>
     </ng-container>
        <ng-template #noRanges>
            <ng-container *ngIf="editable && activeAttribute">
                <h2 class="p-5 text-center info-message">- This attribute has no ranges, please click the green plus icon to create one -</h2>
                <button type="button" class="btn-default fas fa-plus float-end add" (click)="addNewRange()"></button>
            </ng-container>
            <ng-container *ngIf="!editable && activeAttribute">
                <h2 class="p-5 text-center info-message">- This attribute has no ranges -</h2>
            </ng-container>
        </ng-template>
    </ng-container>
    <ng-template #noAttribute>
        <h2 class="p-5 text-center info-message">- Please select an attribute first -</h2>
    </ng-template>
</div>

<!--&lt;!&ndash; RANGE CONSTRAINT EXPRESSION MODAL &ndash;&gt;-->
<!--<app-modal id="range-constraint-modal" class="modal expression-modal" [size]="'xl'">-->
    <!--<h3 header class="mb-0">Range Constraint Expression</h3>-->
    <!--<ng-container body>-->
        <!--<ul class="nav nav-tabs nav-fill" id="rangeConstraintTab" role="tablist">-->
            <!--<li class="nav-item">-->
                <!--<a class="nav-link active" id="range-constraint-tab" data-toggle="tab" href="#pure-range-constraint"  role="tab" aria-controls="pure-range-constraint" aria-selected="true">Expression</a>-->
            <!--</li>-->
            <!--<li class="nav-item">-->
                <!--<a class="nav-link" id="modified-range-constraint-tab" data-toggle="tab" href="#modified-range-constraint" role="tab" aria-controls="modified-range-constraint" aria-selected="false">Modifications</a>-->
            <!--</li>-->
        <!--</ul>-->
        <!---->
        <!--<div class="tab-content" id="rangeConstraintTabContent">-->
            <!--<div class="tab-pane fade expression p-5 show active" id="pure-range-constraint" role="tabpanel" aria-labelledby="pure-range-constraint-tab">-->
                <!--<div class="expression-container p-5">-->
                    <!--<p class="mb-0" *ngFor="let line of ECLexpressionBuilder(activeRange?.additionalFields.rangeConstraint); let odd = odd" [class.odd]="odd">{{line}}</p>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="tab-pane fade expression p-5" id="modified-range-constraint" role="tabpanel" aria-labelledby="modified-range-constraint-tab">-->
                <!--<div class="expression-container p-5">-->
                    <!--<p class="mb-0" *ngFor="let line of ECLexpressionBuilder(activeRange?.additionalFields.rangeConstraint, latestReleaseRange?.additionalFields.rangeConstraint); let odd = odd" [class.added]="line.type === 'added'" [class.removed]="line.type === 'removed'">{{line.text}}</p>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</ng-container>-->
    <!--<div footer>-->
        <!--<button type="button" class="btn btn" (click)="modalService.close('range-constraint-modal')">CLOSE</button>-->
    <!--</div>-->
<!--</app-modal>-->

<!-- RANGE CONSTRAINT EXPRESSION MODAL -->
<app-modal id="range-constraint-modal" class="modal expression-modal" [size]="'xl'">
    <h3 header class="mb-0">Range Constraint Expression</h3>
    <ng-container body>
        <ul class="nav nav-tabs nav-fill">
            <li class="nav-item">
                <a class="nav-link" [class.active]="rangeConstraintModal" (click)="rangeConstraintModal = true">Expression</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [class.active]="!rangeConstraintModal" (click)="rangeConstraintModal = false">Modifications</a>
            </li>
        </ul>

        <div class="tab-pane fade expression p-5 show active">
            <div *ngIf="rangeConstraintModal" class="expression-container p-5">
                <p class="mb-0" *ngFor="let line of ECLexpressionBuilder(activeRange?.additionalFields.rangeConstraint); let odd = odd" [class.odd]="odd">{{line}}</p>
            </div>

            <div *ngIf="!rangeConstraintModal">
                <div *ngIf="latestReleaseRange" class="expression-container p-5">
                    <p class="mb-0" *ngFor="let line of ECLexpressionBuilder(activeRange?.additionalFields.rangeConstraint, latestReleaseRange?.additionalFields.rangeConstraint); let odd = odd" [class.added]="line.type === 'added'" [class.removed]="line.type === 'removed'">{{line.text}}</p>
                </div>
                <div *ngIf="!latestReleaseRange" class="expression-container p-5">
                    <p class="mb-0 added" *ngFor="let line of ECLexpressionBuilder(activeRange?.additionalFields.rangeConstraint)">{{line}}</p>
                </div>
            </div>
        </div>
    </ng-container>
    <div footer>
        <button type="button" class="btn btn" (click)="modalService.close('range-constraint-modal')">CLOSE</button>
    </div>
</app-modal>

<!--&lt;!&ndash; ATTRIBUTE RULE EXPRESSION MODAL &ndash;&gt;-->
<!--<app-modal id="attribute-rule-modal" class="modal expression-modal" [size]="'xl'">-->
    <!--<h3 header class="mb-0">Attribute Rule Expression</h3>-->
    <!--<ng-container body>-->
        <!--<ul class="nav nav-tabs nav-fill" id="attributeRuleTab" role="tablist">-->
            <!--<li class="nav-item">-->
                <!--<a class="nav-link active" id="attribute-rule-tab" data-toggle="tab" href="#pure-attribute-rule"  role="tab" aria-controls="pure-attribute-rule" aria-selected="true">Expression</a>-->
            <!--</li>-->
            <!--<li class="nav-item">-->
                <!--<a class="nav-link" id="modified-attribute-rule-tab" data-toggle="tab" href="#modified-attribute-rule" role="tab" aria-controls="modified-attribute-rule" aria-selected="false">Modifications</a>-->
            <!--</li>-->
        <!--</ul>-->

        <!--<div class="tab-content" id="attributeRuleTabContent">-->
            <!--<div class="tab-pane fade expression p-5 show active" id="pure-attribute-rule" role="tabpanel" aria-labelledby="pure-attribute-rule-tab">-->
                <!--<div class="expression-container p-5">-->
                    <!--<p class="mb-0" *ngFor="let line of ECLexpressionBuilder(activeRange?.additionalFields.attributeRule); let odd = odd" [class.odd]="odd">{{line}}</p>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="tab-pane fade expression p-5" id="modified-attribute-rule" role="tabpanel" aria-labelledby="modified-attribute-rule-tab">-->
                <!--<div class="expression-container p-5">-->
                    <!--<p class="mb-0" *ngFor="let line of ECLexpressionBuilder(activeRange?.additionalFields.attributeRule, latestReleaseRange?.additionalFields.attributeRule); let odd = odd" [class.added]="line.type === 'added'" [class.removed]="line.type === 'removed'">{{line.text}}</p>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</ng-container>-->
    <!--<div footer>-->
        <!--<button type="button" class="btn btn" (click)="modalService.close('attribute-rule-modal')">CLOSE</button>-->
    <!--</div>-->
<!--</app-modal>-->

<!-- ATTRIBUTE RULE EXPRESSION MODAL -->
<app-modal id="attribute-rule-modal" class="modal expression-modal" [size]="'xl'">
    <h3 header class="mb-0">Attribute Rule Expression</h3>
    <ng-container body>
        <ul class="nav nav-tabs nav-fill">
            <li class="nav-item">
                <a class="nav-link" [class.active]="attributeRuleModal" (click)="attributeRuleModal = true">Expression</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [class.active]="!attributeRuleModal" (click)="attributeRuleModal = false">Modifications</a>
            </li>
        </ul>

        <div class="tab-pane fade expression p-5 show active">
            <div *ngIf="attributeRuleModal" class="expression-container p-5">
                <p class="mb-0" *ngFor="let line of ECLexpressionBuilder(activeRange?.additionalFields.attributeRule); let odd = odd" [class.odd]="odd">{{line}}</p>
            </div>
            <div *ngIf="!attributeRuleModal">
                <div *ngIf="latestReleaseRange" class="expression-container p-5">
                    <p class="mb-0" *ngFor="let line of ECLexpressionBuilder(activeRange?.additionalFields.attributeRule, latestReleaseRange?.additionalFields.attributeRule); let odd = odd" [class.added]="line.type === 'added'" [class.removed]="line.type === 'removed'">{{line.text}}</p>
                </div>
                <div *ngIf="!latestReleaseRange" class="expression-container p-5">
                    <p class="mb-0 added" *ngFor="let line of ECLexpressionBuilder(activeRange?.additionalFields.attributeRule)">{{line}}</p>
                </div>
            </div>
        </div>
    </ng-container>
    <div footer>
        <button type="button" class="btn btn" (click)="modalService.close('attribute-rule-modal')">CLOSE</button>
    </div>
</app-modal>
