<div id="attribute-range-panel" [class.flex-display]="results?.items.length">
    <h3 class="pt-3 px-3">Attribute Range</h3><button type="button" *ngIf="editable" class="btn-default fas fa-plus float-right add" (click)="addNewRange()"></button>
    <div *ngFor="let range of ranges?.items | alphabetical">
        <div class="px-3 py-2 range" *ngIf="range" (click)="makeActiveRange(range)"
            [class.active]="range === activeRange" [class.changed]="range.changed && range !== activeRange" [class.unpublished]="!range.effectiveTime && !range.changed && range !== activeRange">
            {{mrcmmtService.determineContentTypeField(range.additionalFields.contentTypeId)}} - {{mrcmmtService.determineMandatoryField(range.additionalFields.ruleStrengthId)}}</div>
    </div>
    <div *ngIf="activeAttribute && activeRange" class="details">
        <ng-container *ngIf="activeRange.additionalFields.rangeConstraint || editable">
            <h4 class="label m-2">Range Constraint</h4>
            <input type="text" class="detail m-2 mb-3 px-2 rounded" [(ngModel)]="activeRange.additionalFields.rangeConstraint" [class.short]="rangeConstraint" [disabled]="!editable" (change)="updateRange()">
        </ng-container>
        <ng-container *ngIf="activeRange.additionalFields.attributeRule || editable">
            <h4 class="label m-2">Attribute Rule</h4>
            <input type="text" class="detail m-2 mb-3 px-2 rounded" [(ngModel)]="activeRange.additionalFields.attributeRule" [disabled]="!editable" (change)="updateRange()">
        </ng-container>
        <ng-container *ngIf="activeRange.additionalFields.ruleStrengthId || editable">
            <h4 class="label m-2">Mandatory</h4>
            <select class="detail m-2 mb-3 px-2 rounded" [(ngModel)]="activeRange.additionalFields.ruleStrengthId" [disabled]="!editable"(change)="updateRange()">
                <option *ngFor="let ruleStrength of mrcmmtService.ruleStrengthFields" [value]="ruleStrength.id" >{{ruleStrength.term}}</option>
            </select>
        </ng-container>
        <ng-container *ngIf="activeRange.additionalFields.contentTypeId || editable">
            <h4 class="label m-2">Content Type</h4>
            <select class="detail m-2 mb-3 px-2 rounded" [(ngModel)]="activeRange.additionalFields.contentTypeId" [disabled]="!editable"(change)="updateRange()">
                <option *ngFor="let contentType of mrcmmtService.contentTypeFields" [value]="contentType.id">{{contentType.term}}</option>
            </select>
        </ng-container>
    </div>
    <div class="results" *ngIf="results">
        <div *ngIf="results?.total">
            <h4 class="pt-3 px-3">{{results.total | number:'1.'}} Results Matching Range</h4>
        </div>
        <div *ngIf="results?.items" class="results">
            <div class="py-2 px-4 result" *ngFor="let result of results.items; let odd = odd" [class.odd]="odd">{{result?.fsn.term}}</div>
        </div>
    </div>
</div>
