<nav class="navbar sticky-top navbar-dark bg-dark p-2 pr-2">
    <a class="logo" routerLink="/">
        <img class="logo mr-2 p-0" src="/mrcm/assets/small_logo.png">
        <span class="title">SNOMED CT MRCM Maintenance Tool</span>
    </a>
    <ul class="dropdown-nav mr-auto my-2">
        <li class="nav-item dropdown">
            <a class="nav-link px-3 rounded" [class.editable]="editable" [class.dropdown-toggle]="!editable" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {{branchPath}}
            </a>
            <div *ngIf="!editable" class="dropdown-menu" aria-labelledby="navbarDropdown">
                <ng-container *ngFor="let version of versions?.items">
                    <a *ngIf="version.branchPath" class="dropdown-item pl-3" (click)="setPath(version.branchPath)">{{version.branchPath}}</a>
                </ng-container>
            </div>
        </li>
        <li *ngIf="editable" class="nav-item m-0 px-3">
            <a class="nav-link editing-mode">- EDITING MODE -</a>
        </li>
    </ul>


    <ng-container [ngSwitch]="environment">
        <div *ngSwitchCase="'local'" class="banner local"></div>
        <div *ngSwitchCase="'dev'" class="banner dev"></div>
        <div *ngSwitchCase="'uat'" class="banner uat"></div>
        <div *ngSwitchCase="'training'" class="banner training"></div>
        <div *ngSwitchDefault class="banner d-none"></div>
    </ng-container>
    <div class="float-right">
        <div *ngIf="user" class="user m-2" data-toggle="collapse" data-target="#navbarToggleExternalContent">
            <span class="float-left pr-2">{{user.firstName}} {{user.lastName}}</span>
            <!--<img class="rounded-circle" src="https://jira.ihtsdotools.org/secure/useravatar?ownerId={{user.login}}">-->
        </div>
    </div>
</nav>

<div class="collapse" id="navbarToggleExternalContent">
    <div class="bg-dark p-3">
        <a (click)="logout()" class="text-right d-block mb-0 px-2">Logout<i class="fas fa-external-link-alt ml-2"></i></a>
    </div>
</div>
