<nav class="navbar sticky-top navbar-dark bg-dark p-2 pr-2">
    <a routerLink="/dashboard">
        <img class="logo mr-2 p-0" src="../assets/small_logo.png">
        <span class="title">SNOMED CT MRCM Maintenance Tool</span>
    </a>
    <ng-container [ngSwitch]="environment">
        <div *ngSwitchCase="'local'" class="banner local"></div>
        <div *ngSwitchCase="'dev'" class="banner dev"></div>
        <div *ngSwitchCase="'uat'" class="banner uat"></div>
        <div *ngSwitchCase="'training'" class="banner training"></div>
        <div *ngSwitchDefault class="banner d-none"></div>
    </ng-container>
</nav>
