<app-snomed-navbar></app-snomed-navbar>
<app-breadcrumb-bar
    [activeDomain]="activeDomain"
    [activeAttribute]="activeAttribute"
    [activeRange]="activeRange"

    (resetEmitter)="resetTool()">
</app-breadcrumb-bar>
<app-domain-panel
    [domains]="domains"
    [domainFilter]="domainFilter"
    [activeDomain]="activeDomain"
    [activeAttribute]="activeAttribute"
    [attributeMatchedDomains]="attributeMatchedDomains"
    [activeRange]="activeRange"

    (activeDomainEmitter)="activeDomain = $event"
    (activeAttributeEmitter)="activeAttribute = $event"
    (activeRangeEmitter)="activeRange = $event">
</app-domain-panel>

<app-attribute-range-panel
    [ranges]="ranges"
    [activeDomain]="activeDomain"
    [activeAttribute]="activeAttribute"
    [activeRange]="activeRange"

    (activeDomainEmitter)="activeDomain = $event"
    (activeAttributeEmitter)="activeAttribute = $event"
    (activeRangeEmitter)="activeRange = $event">
</app-attribute-range-panel>

<app-applicable-attributes-panel
    [attributeFilter]="attributeFilter"
    [attributes]="attributes"
    [domains]="domains"
    [activeDomain]="activeDomain"
    [activeAttribute]="activeAttribute"
    [attributeMatchedDomains]="attributeMatchedDomains"
    [activeRange]="activeRange"

    (activeDomainEmitter)="activeDomain = $event"
    (activeAttributeEmitter)="activeAttribute = $event"
    (attributeMatchedDomainsEmitter)="attributeMatchedDomains = $event"
    (activeRangeEmitter)="activeRange = $event"
    (rangesEmitter)="ranges = $event">
</app-applicable-attributes-panel>

<app-snomed-footer></app-snomed-footer>
