<div id="domain-panel" [class.details-open]="activeDomain" [class.details-minimized]="!detailsExpanded">
    <h3 class="pt-3 px-3 m-0">Domain</h3>
    <button type="button" *ngIf="editable" class="btn-default fas fa-plus float-right add" (click)="addNewDomain()"></button>
    <div class="p-3">
        <input type="search" class="form-control" [(ngModel)]="domainFilter" placeholder="Filter Domains...">
    </div>
    <div class="domain px-3 py-2" *ngFor="let domain of domains?.items | alphabetical | topLevelDomain | textMatch:domainFilter; let odd = odd"
         (click)="makeActiveDomain(domain)"
         [class.odd]="odd"
         [class.active]="domain?.referencedComponentId === activeDomain?.referencedComponentId"
         [class.attached]="highlightDomains(domain.referencedComponentId)">
        <span [class.subdomain]="domain.additionalFields.parentDomain" [class.tertiary]="domain.tertiary">
            {{domain.referencedComponent?.fsn.term}}
        </span>
        <span *ngIf="domain.changed && !domain.deleted" class="marker new d-inline-block px-2 m-1">UNSAVED</span>
        <span *ngIf="!domain.effectiveTime && !domain.changed && !domain.deleted" class="marker edited d-inline-block px-2 m-1">UNPUBLISHED</span>
        <span *ngIf="domain.deleted" class="marker deleted d-inline-block px-2 m-1">TO BE DELETED</span>
        <button *ngIf="editable && !domain.released" class="delete float-right p-0" (click)="deleteDomain($event, domain)"><i class="fas fa-minus"></i></button>
    </div>
    <div *ngIf="activeDomain" class="details" [class.minimized]="!detailsExpanded">
            <span class="float-right my-1 mx-3" (click)="detailsExpanded = !detailsExpanded">
                <i *ngIf="detailsExpanded" class="fas fa-caret-down"></i>
                <i *ngIf="!detailsExpanded" class="fas fa-caret-up"></i>
            </span>
        <ng-container *ngIf="editable">
            <h5 class="label m-2">Domain<span *ngIf="editable" class="mandatory"> *</span></h5>
            <input type="text" class="detail m-2 mb-3 p-0 px-2 rounded"
                   [(ngModel)]="shortFormConcept"
                   [ngbTypeahead]="search" placement="bottom"
                   (ngModelChange)="setActiveConceptId(); updateDomain()"
                   [disabled]="!editable"
                   [class.changed]="latestReleaseDomain?.referencedComponentId !== activeDomain.referencedComponentId"/>
        </ng-container>
        <ng-container *ngIf="activeDomain.additionalFields.domainConstraint || editable">
            <h5 class="label m-2">Domain Constraint<span *ngIf="editable" class="mandatory"> *</span></h5>
            <div *ngIf="domainConstraintInvalid" class="detail m-2 mb-3 p-0 px-2 warning">No ECL results</div>
            <input type="text" class="detail m-2 mb-3 p-0 px-2 rounded"
                   [(ngModel)]="activeDomain.additionalFields.domainConstraint"
                   [disabled]="!editable"
                   (ngModelChange)="validateEcl('domainConstraint', activeDomain.additionalFields.domainConstraint)"
                   [class.changed]="latestReleaseDomain?.additionalFields.domainConstraint !== activeDomain.additionalFields.domainConstraint">
        </ng-container>
        <ng-container *ngIf="activeDomain.additionalFields.parentDomain || editable">
            <h5 class="label m-2">Parent Domain</h5>
            <input type="text" class="detail m-2 mb-3 p-0 px-2 rounded"
                   [(ngModel)]="activeDomain.additionalFields.parentDomain"
                   [disabled]="!editable"
                   (ngModelChange)="updateDomain()"
                   [class.changed]="latestReleaseDomain?.additionalFields.parentDomain !== activeDomain.additionalFields.parentDomain">
        </ng-container>
        <ng-container *ngIf="activeDomain.additionalFields.proximalPrimitiveConstraint || editable">
            <h5 class="label m-2">Proximal Primitive Constraint<span *ngIf="editable" class="mandatory"> *</span></h5>
            <div *ngIf="proxPrimInvalid" class="detail m-2 mb-3 p-0 px-2 warning">No ECL results</div>
            <input type="text" class="detail m-2 mb-3 p-0 px-2 rounded"
                   [(ngModel)]="activeDomain.additionalFields.proximalPrimitiveConstraint"
                   [disabled]="!editable"
                   (ngModelChange)="validateEcl('proxPrim', activeDomain.additionalFields.proximalPrimitiveConstraint)"
                   [class.changed]="latestReleaseDomain?.additionalFields.proximalPrimitiveConstraint !== activeDomain.additionalFields.proximalPrimitiveConstraint">
        </ng-container>
        <ng-container *ngIf="activeDomain.additionalFields.proximalPrimitiveRefinement || editable">
            <h5 class="label m-2">Proximal Primitive Refinement</h5>
            <input type="text" class="detail m-2 mb-3 p-0 px-2 rounded"
                   [(ngModel)]="activeDomain.additionalFields.proximalPrimitiveRefinement"
                   [disabled]="!editable"
                   (ngModelChange)="updateDomain()"
                   [class.changed]="latestReleaseDomain?.additionalFields.proximalPrimitiveRefinement !== activeDomain.additionalFields.proximalPrimitiveRefinement">
        </ng-container>
        <ng-container *ngIf="editable">
            <h5 class="label m-2">Guide URL</h5>
            <input type="text" class="detail m-2 mb-3 p-0 px-2 rounded"
                   [(ngModel)]="activeDomain.additionalFields.guideURL"
                   [disabled]="!editable"
                   (ngModelChange)="updateDomain()"
                   [class.changed]="latestReleaseDomain?.additionalFields.guideURL !== activeDomain.additionalFields.guideURL">
        </ng-container>
        <ng-container *ngIf="activeDomain.additionalFields.guideURL && !editable">
            <h5 class="label m-2">Guide URL</h5>
            <div class="detail m-2 mb-3 p-0 px-2 rounded" 
                 [class.changed]="latestReleaseDomain?.additionalFields.guideURL !== activeDomain.additionalFields.guideURL">
                <a href="{{activeDomain.additionalFields.guideURL}}" target="_blank">{{activeDomain.additionalFields.guideURL}}</a>
            </div>
        </ng-container>
        <ng-container *ngIf="activeDomain.additionalFields.domainTemplateForPrecoordination">
            <h5 class="label m-2 mb-3">Precoordination Domain Template</h5>
            <div class="detail expandable m-2 mb-4 pl-2 pr-5 rounded short"
                 (click)="modalService.open('precoordination-modal')"
                 [class.changed]="latestReleaseDomain?.additionalFields.domainTemplateForPrecoordination !== activeDomain.additionalFields.domainTemplateForPrecoordination">
                {{activeDomain.additionalFields.domainTemplateForPrecoordination}}
                <span class="p-1"><i class="fas fa-external-link-alt"></i></span>
            </div>
        </ng-container>
        <ng-container *ngIf="activeDomain.additionalFields.domainTemplateForPostcoordination">
            <h5 class="label m-2 mb-3">Postcoordination Domain Template</h5>
            <div class="detail expandable m-2 mb-4 pl-2 pr-5 rounded short"
                 (click)="modalService.open('postcoordination-modal')"
                 [class.changed]="latestReleaseDomain?.additionalFields.domainTemplateForPostcoordination !== activeDomain.additionalFields.domainTemplateForPostcoordination">
                {{activeDomain.additionalFields.domainTemplateForPostcoordination}}
                <span class="p-1"><i class="fas fa-external-link-alt"></i></span>
            </div>
        </ng-container>
    </div>
</div>

<!-- PRECOORDINATION EXPRESSION MODAL -->
<app-modal id="precoordination-modal" class="modal expression-modal" [size]="'xl'">
    <h3 header class="mb-0">Precoordination Domain Template Expression</h3>
    <ng-container body>
        <ul class="nav nav-tabs nav-fill" id="precoordinationTab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="pure-precoordination-tab" data-toggle="tab" href="#pure-precoordination"  role="tab" aria-controls="pure-precoordination" aria-selected="true">Expression</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="modified-precoordination-tab" data-toggle="tab" href="#modified-precoordination" role="tab" aria-controls="modified-precoordination" aria-selected="false">Modifications</a>
            </li>
        </ul>

        <div class="tab-content" id="precoordinationTabContent">
            <div *ngIf="activeDomain?.additionalFields.domainTemplateForPrecoordination" class="tab-pane fade expression p-5 show active" id="pure-precoordination" role="tabpanel" aria-labelledby="pure-precoordination-tab">
                <div class="expression-container p-5">
                    <p class="mb-0" *ngFor="let line of ETLexpressionBuilder(activeDomain?.additionalFields.domainTemplateForPrecoordination); let odd = odd" [class.odd]="odd">{{line}}</p>
                </div>
            </div>
            <div *ngIf="activeDomain?.additionalFields.domainTemplateForPrecoordination"  class="tab-pane fade expression p-5" id="modified-precoordination" role="tabpanel" aria-labelledby="modified-precoordination-tab">
                <div *ngIf="latestReleaseDomain" class="expression-container p-5">
                    <p class="mb-0" *ngFor="let line of ETLexpressionBuilder(activeDomain?.additionalFields.domainTemplateForPrecoordination, latestReleaseDomain?.additionalFields.domainTemplateForPrecoordination); let odd = odd" [class.added]="line.type === 'added'" [class.removed]="line.type === 'removed'">{{line.text}}</p>
                </div>
                <div *ngIf="!latestReleaseDomain" class="expression-container p-5">
                    <p class="mb-0 added" *ngFor="let line of ETLexpressionBuilder(activeDomain?.additionalFields.domainTemplateForPrecoordination)">{{line}}</p>
                </div>
            </div>
        </div>
    </ng-container>
    <div footer>
        <button type="button" class="btn btn" (click)="modalService.close('precoordination-modal')">CLOSE</button>
    </div>
</app-modal>

<!-- POSTCOORDINATION EXPRESSION MODAL -->
<app-modal id="postcoordination-modal" class="modal expression-modal" [size]="'xl'">
    <h3 header class="mb-0">Postcoordination Domain Template Expression</h3>
    <ng-container body>
        <ul class="nav nav-tabs nav-fill" id="postcoordinationTab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="pure-postcoordination-tab" data-toggle="tab" href="#pure-postcoordination"  role="tab" aria-controls="pure-postcoordination" aria-selected="true">Expression</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="modified-postcoordination-tab" data-toggle="tab" href="#modified-postcoordination" role="tab" aria-controls="modified-postcoordination" aria-selected="false">Modifications</a>
            </li>
        </ul>

        <div class="tab-content" id="postcoordinationTabContent">
            <div *ngIf="activeDomain?.additionalFields.domainTemplateForPostcoordination" class="tab-pane fade expression p-5 show active" id="pure-postcoordination" role="tabpanel" aria-labelledby="pure-postcoordination-tab">
                <div class="expression-container p-5">
                    <p class="mb-0" *ngFor="let line of ETLexpressionBuilder(activeDomain?.additionalFields.domainTemplateForPostcoordination); let odd = odd" [class.odd]="odd">{{line}}</p>
                </div>
            </div>
            <div *ngIf="activeDomain?.additionalFields.domainTemplateForPostcoordination" class="tab-pane fade expression p-5" id="modified-postcoordination" role="tabpanel" aria-labelledby="modified-postcoordination-tab">
                <div *ngIf="latestReleaseDomain" class="expression-container p-5">
                    <p class="mb-0" *ngFor="let line of ETLexpressionBuilder(activeDomain?.additionalFields.domainTemplateForPostcoordination, latestReleaseDomain?.additionalFields.domainTemplateForPostcoordination); let odd = odd" [class.added]="line.type === 'added'" [class.removed]="line.type === 'removed'">{{line.text}}</p>
                </div>
                <div *ngIf="!latestReleaseDomain" class="expression-container p-5">
                    <p class="mb-0 added" *ngFor="let line of ETLexpressionBuilder(activeDomain?.additionalFields.domainTemplateForPostcoordination)">{{line}}</p>
                </div>
            </div>
        </div>
    </ng-container>
    <div footer>
        <button type="button" class="btn btn" (click)="modalService.close('postcoordination-modal')">CLOSE</button>
    </div>
</app-modal>
