@import "~src/variables";

div#domain-panel {
    position: fixed;
    width: 33vw;
    height: calc(100vh - 9rem);
    border-right: 1px solid $ghost-grey;
    background-color: $alto-white;
    overflow: scroll;

    h1 {
        font-weight: 300;
    }

    input {
        font-weight: 300;
        font-size: 1.6rem;
    }

    div.domain {
        cursor: pointer;

        &.attached {
            background-color: $mango-orange;
        }

        &.active {
            background-color: $tropical-blue;
        }
    }
}
