<div id="domain-panel">
    <h1 class="pt-3 px-3 m-0">Domain:</h1>
    <div class="p-3">
        <input type="text" class="form-control" [(ngModel)]="domainFilter" placeholder="Filter Domains...">
    </div>
    <div class="px-3 py-2 domain" *ngFor="let domain of domains | termMatch:domainFilter"
         (click)="matchedAttributes(domain.referencedComponentId)"
         [class.active]="domain.referencedComponentId === activeDomainId"
         [class.connected]="connectedAttributes(domain.referencedComponentId)">{{domain.referencedComponent.fsn?.term}}</div>
</div>
