<div id="domain-panel" [class.details-open]="activeDomain">
    <h1 class="pt-3 px-3 m-0">Domain:</h1>
    <div class="p-3">
        <input type="text" class="form-control" [(ngModel)]="domainFilter" placeholder="Filter Domains...">
    </div>
    <div class="domain px-3 py-2" *ngFor="let domain of domains | alphabetical | textMatch:domainFilter | topLevelDomain"
         (click)="makeActiveDomain(domain)"
         [class.subdomain]="domain.additionalFields.parentDomain"
         [class.active]="domain === activeDomain"
         [class.attached]="highlightDomains(domain.referencedComponentId)">{{domain.referencedComponent.fsn?.term}}</div>
    <div *ngIf="activeDomain" class="details">
        <button type="button" class="close float-right px-2" (click)="makeActiveDomain(activeDomain)">
            <span aria-hidden="true">&times;</span>
        </button>
        <ng-container *ngIf="activeDomain.additionalFields.domainConstraint">
            <h3 class="label m-2">Domain Constraint</h3>
            <div class="detail m-2 mb-3 px-2 rounded">{{activeDomain.additionalFields.domainConstraint}}</div>
        </ng-container>
        <ng-container *ngIf="activeDomain.additionalFields.parentDomain">
            <h3 class="label m-2">Parent Domain</h3>
            <div class="detail m-2 mb-3 px-2 rounded">{{activeDomain.additionalFields.parentDomain}}</div>
        </ng-container>
        <ng-container *ngIf="activeDomain.additionalFields.proximalPrimitiveConstraint">
            <h3 class="label m-2">Proximal Primitive Constraint</h3>
            <div class="detail m-2 mb-3 px-2 rounded">{{activeDomain.additionalFields.proximalPrimitiveConstraint}}</div>
        </ng-container>
        <ng-container *ngIf="activeDomain.additionalFields.proximalPrimitiveRefinement">
            <h3 class="label m-2">Proximal Primitive Refinement</h3>
            <div class="detail m-2 mb-3 px-2 rounded">{{activeDomain.additionalFields.proximalPrimitiveRefinement}}</div>
        </ng-container>
        <ng-container *ngIf="activeDomain.additionalFields.domainTemplateForPrecoordination">
            <h3 class="label m-2">Precoordination Domain Template</h3>
            <div class="detail m-2 mb-3 px-2 rounded" [class.short]="preCoordination" (click)="preCoordination = !preCoordination">{{activeDomain.additionalFields.domainTemplateForPrecoordination}}</div>
        </ng-container>
        <ng-container *ngIf="activeDomain.additionalFields.domainTemplateForPostcoordination">
            <h3 class="label m-2">Postcoordination Domain Template</h3>
            <div class="detail m-2 mb-3 px-2 rounded" [class.short]="postCoordination" (click)="postCoordination = !postCoordination">{{activeDomain.additionalFields.domainTemplateForPostcoordination}}</div>
        </ng-container>
    </div>
</div>
