@import "~src/variables";

div#domain-panel {
    position: fixed;
    width: 33vw;
    height: calc(100vh - 12rem);
    border-right: 1px solid $regent-grey;
    background-color: $alto-white;
    overflow-x: hidden;

    &.details-open {
        height: calc(100vh - 12rem - 33vh);
    }

    &.details-minimized {
        height: calc(100vh - 15rem);
    }

    h1 {
        font-weight: 300;
    }

    button.add {
        position: absolute;
        right: 0;
        top: 1.2rem;
        background: transparent;
        color: $forest-green;

        &:hover {
            color: $apple-green;
        }
    }

    input {
        font-weight: 300;
        font-size: 1.6rem;
        cursor: text;
    }

    div.domain {
        position: relative;
        cursor: pointer;

        &.odd {
            background-color: #D9D9D9;
        }

        span.subdomain {
            margin-left:1rem;
        }
        span.subdomain:before {
            content: "-";
        }

        span.tertiary {
            margin-left:2rem;
        }

        span.marker {
            font-size: 1rem;
            border-radius: 1rem;
            position: relative;
            cursor: default;

            &.new {
                background-color: $norway-green;
            }

            &.deleted {
                background-color: $new-york-red;
            }

            &.edited {
                background-color: $mango-orange;
            }
        }

        &.attached {
            background-color: $lighter-blue;
        }

        &.active {
            background-color: $tropical-blue;
        }

        button.delete {
            z-index: auto;
            position: relative;
            background-color: transparent;
            color: $crimson-red;

            &:hover {
                color: $pomegranate-red;
            }
        }
    }

    div.details {
        position: fixed;
        width: 33vw;
        bottom: 0;
        background-color: $ghost-grey;
        border-top: 1px solid $regent-grey;
        border-right: 1px solid $regent-grey;
        height: 33vh;
        margin-bottom: 4rem;
        overflow: scroll;

        &.minimized {
            height: 3rem;
            overflow: hidden;
        }

        span.mandatory{
            color: $indianred;
            cursor: none;
        }

        span {
            font-size: 1.5rem;
            line-height: 1.8rem;

            &:hover {
                cursor: pointer;
            }
        }

        h5.label {
            font-weight: 300;
        }

        div.detail {
            position: relative;
            background-color: $white;
            font-size: 1.2rem;
            line-height: 2rem;

            span {
                position: absolute;
                top: 0;
                right: 0;
                color: $dark;
            }

            &.warning {
                background-color: lightyellow;
            }

            &.expandable {
                cursor: pointer;
            }

            &.short {
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }

            &.changed {
                border-left: 5px solid $mango-orange;
            }

            &.uneditable {
                color: $scorpion-grey;
                background-color: $alto-white;
            }
        }

        input.detail {
            color: $black;
            background-color: $white;
            font-size: 1.2rem;
            line-height: 2rem;
            width: -webkit-fill-available;

            &.changed {
                border-left: 5px solid $mango-orange;
            }
        }
    }
}

app-modal.expression-modal {
    div.expression {
        font-family: "Courier New", serif;
        font-size: 1.3rem;
        letter-spacing: 0;

        div.expression-container {
            border: 1px solid $regent-grey;
            border-radius: 1rem;
            background-color: $gallery-white;
            overflow: scroll;

            p {
                white-space: pre;
            }

            .added {
                background-color: $norway-green;
            }

            .removed {
                background-color: $new-york-red;
            }
        }
    }

    ul {
        li.nav-item {
            margin-top: -1px;

            a.nav-link {
                font-size: 1.4rem;

                &:not(.active) {
                    color: inherit;
                    background-color: $blinding-white;
                }
            }
        }
    }
}
