@import "~src/variables";

div#domain-panel {
    position: fixed;
    width: 33vw;
    height: calc(100vh - 12rem);
    border-right: 1px solid $regent-grey;
    background-color: $alto-white;
    overflow: scroll;

    &.details-open {
        height: calc(100vh - 12rem - 33vh);
    }

    &.details-minimized {
        height: calc(100vh - 15rem);
    }

    h1 {
        font-weight: 300;
    }

    input {
        font-weight: 300;
        font-size: 1.6rem;
        cursor: text;
    }

    div.domain {
        cursor: pointer;

        span.subdomain {
            margin-left:1rem;
        }
        span.subdomain:before {
            content: "-";
        }
        
        span.tertiary {
            margin-left:2rem;
        }

        &.attached {
            background-color: $ghost-grey;
        }

        &.active {
            background-color: $tropical-blue;
        }
    }

    div.details {
        position: fixed;
        width: 33vw;
        bottom: 0;
        background-color: $ghost-grey;
        border-top: 1px solid $regent-grey;
        border-right: 1px solid $regent-grey;
        height: 33vh;
        margin-bottom: 4rem;
        overflow: scroll;

        &.minimized {
            height: 3.4rem;
            overflow: hidden;
        }

        h3.detail-title {
            font-weight: 300;
            color: $black;
            background-color: $regent-grey;

            span:hover {
                cursor: pointer;
            }
        }

        h4.label {
            font-weight: 300;
        }

        div.detail {
            background-color: $white;

            &.short {
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }
    }
}
