<div id="applicable-attributes-panel" [class.details-open]="activeAttribute" [class.details-minimized]="!detailsExpanded">
    <h3 class="pt-3 px-3 m-0">Applicable Attributes</h3>
    <button type="button" *ngIf="editable && activeDomain" class="btn-default fas fa-plus float-right add" (click)="addNewAttribute()"></button>
    <div class="p-3">
        <input type="search" class="form-control" [(ngModel)]="attributeFilter" placeholder="Filter Attributes...">
    </div>

    <ng-container *ngIf="(attributes?.items | alphabetical | textMatch:attributeFilter | domainMatch:activeDomain | duplicateFilter:activeDomain?.referencedComponentId | attributeNesting) as result ">
        <div class="px-3 py-2 attribute" *ngFor="let attribute of result; let odd = odd" [class.odd]="odd" (click)="makeActiveAttribute(attribute)"
             [class.active]="attribute?.referencedComponentId === activeAttribute?.referencedComponentId">
            <span [class.subdomain]="attribute.additionalFields.depth === 2" [class.tertiary]="attribute.additionalFields.depth === 3">
                {{attribute.referencedComponent.fsn?.term}}
            </span>
            <span *ngIf="duplicateAttributes(attribute, result)" class="content-type">{{mrcmmtService.getContentType(attribute.additionalFields.contentTypeId)}}</span>
            <span *ngIf="attribute.changed && !attribute.deleted" class="marker new d-inline-block px-2 m-1">UNSAVED</span>
            <span *ngIf="!attribute.effectiveTime && !attribute.changed && !attribute.deleted" class="marker edited d-inline-block px-2 m-1">UNPUBLISHED</span>
            <span *ngIf="attribute.deleted" class="marker deleted d-inline-block px-2 m-1">TO BE DELETED</span>
            <button *ngIf="editable && !attribute.released" class="delete float-right p-0" (click)="deleteAttribute($event, attribute)"><i class="fas fa-minus"></i></button>
        </div>
    </ng-container>

    <ng-container *ngIf="activeDomain?.additionalFields.parentDomain">
        <div class="px-3 py-2 attribute attached" *ngFor="let attribute of attributes?.items | alphabetical | inheritedDomainMatch:activeDomain:domains.items | duplicateFilter:activeDomain?.referencedComponentId | attributeNesting">
            <span [class.subdomain]="attribute.additionalFields.depth === 2" [class.tertiary]="attribute.additionalFields.depth === 3">
                {{attribute.referencedComponent.fsn?.term}}
            </span>
        </div>
    </ng-container>
    <div *ngIf="activeAttribute" class="details" [class.minimized]="!detailsExpanded">
        <span class="float-right my-1 mx-3" (click)="detailsExpanded = !detailsExpanded">
            <i *ngIf="detailsExpanded" class="fas fa-caret-down"></i>
            <i *ngIf="!detailsExpanded" class="fas fa-caret-up"></i>
        </span>
        <ng-container *ngIf="editable">
            <h5 class="label m-2">Referenced Component<span *ngIf="editable" class="mandatory"> *</span></h5>
            <input type="text" class="detail m-2 mb-3 p-0 px-2 rounded"
                   [(ngModel)]="shortFormConcept"
                   [ngbTypeahead]="search" placement="bottom"
                   (ngModelChange)="updateAttributeId()"
                   [disabled]="!editable"
                   [class.changed]="latestReleaseAttribute?.referencedComponentId !== activeAttribute.referencedComponentId && !activeAttribute.effectiveTime"/>
        </ng-container>
        <ng-container>
            <h5 class="label m-2">Grouped<span *ngIf="editable" class="mandatory"> *</span></h5>
            <mat-checkbox class="detail m-2 mb-3 p-0 px-2 rounded"
                          [(ngModel)]="activeAttribute.additionalFields.grouped"
                          [disabled]="!editable"
                          (ngModelChange)="updateAttribute()"
                          [class.changed]="latestReleaseAttribute?.additionalFields.grouped !== activeAttribute.additionalFields.grouped && !activeAttribute.effectiveTime">
            </mat-checkbox>
        </ng-container>
        <ng-container *ngIf="activeAttribute.additionalFields.attributeCardinality || editable">
            <h5 class="label m-2">Attribute Cardinality<span *ngIf="editable" class="mandatory"> *</span></h5>
            <input type="text" class="detail m-2 mb-3 p-0  px-2 rounded"
                   [(ngModel)]="activeAttribute.additionalFields.attributeCardinality"
                   [disabled]="!editable"
                   (ngModelChange)="updateAttribute()"
                   [class.changed]="latestReleaseAttribute?.additionalFields.attributeCardinality !== activeAttribute.additionalFields.attributeCardinality && !activeAttribute.effectiveTime">
        </ng-container>
        <ng-container *ngIf="activeAttribute.additionalFields.attributeInGroupCardinality || editable">
            <h5 class="label m-2">Attribute in Group Cardinality<span *ngIf="editable" class="mandatory"> *</span></h5>
            <input type="text" class="detail m-2 mb-3 p-0 px-2 rounded"
                   [(ngModel)]="activeAttribute.additionalFields.attributeInGroupCardinality"
                   [disabled]="!editable"
                   (ngModelChange)="updateAttribute()"
                   [class.changed]="latestReleaseAttribute?.additionalFields.attributeInGroupCardinality !== activeAttribute.additionalFields.attributeInGroupCardinality && !activeAttribute.effectiveTime">
        </ng-container>
        <ng-container *ngIf="activeAttribute.additionalFields.ruleStrengthId || editable">
            <h5 class="label m-2 mb-3">Rule Strength<span *ngIf="editable" class="mandatory"> *</span></h5>
            <select class="detail mx-2 mt-0 mb-3 px-2 rounded" *ngIf="editable"
                    [(ngModel)]="activeAttribute.additionalFields.ruleStrengthId"
                    (ngModelChange)="updateAttribute()"
                    [class.changed]="latestReleaseAttribute?.additionalFields.ruleStrengthId !== activeAttribute.additionalFields.ruleStrengthId && !activeAttribute.effectiveTime">
                <option *ngFor="let ruleStrength of mrcmmtService.ruleStrengthFields" [value]="ruleStrength.id" >{{ruleStrength.term}}</option>
            </select>
            <div *ngIf="!editable" class="detail m-2 mb-4 pl-2 rounded">{{mrcmmtService.getRuleStrength(activeAttribute.additionalFields.ruleStrengthId)}}</div>
        </ng-container>
        <ng-container *ngIf="activeAttribute.additionalFields.contentTypeId || editable">
            <h5 class="label m-2 mb-3">Content Type<span *ngIf="editable" class="mandatory"> *</span></h5>
            <select class="detail mx-2 mt-0 mb-3 px-2 rounded" *ngIf="editable"
                    [(ngModel)]="activeAttribute.additionalFields.contentTypeId"
                    (ngModelChange)="updateAttribute()"
                    [class.changed]="latestReleaseAttribute?.additionalFields.contentTypeId !== activeAttribute.additionalFields.contentTypeId && !activeAttribute.effectiveTime">
                <option *ngFor="let contentType of mrcmmtService.contentTypeFields" [value]="contentType.id">{{contentType.term}}</option>
            </select>
            <div *ngIf="!editable" class="detail m-2 mb-4 pl-2 rounded">{{mrcmmtService.getContentType(activeAttribute.additionalFields.contentTypeId)}}</div>
        </ng-container>
    </div>
</div>
