<div id="applicable-attributes-panel" [class.details-open]="activeAttribute" [class.details-minimized]="!detailsExpanded">
    <h3 class="pt-3 px-3 m-0">Applicable Attributes</h3><button type="button" *ngIf="editable && !activeAttribute && activeDomain || editable && activeAttribute?.released && activeDomain" class="btn-default fas fa-plus float-right add" (click)="addNewAttribute()"></button>
    <button type="button" *ngIf="activeAttribute && editable && !activeAttribute.released" class="btn-default fas fa-minus float-right add delete" (click)="deleteAttribute()"></button>
    <div class="p-3">
        <input type="search" class="form-control" [(ngModel)]="attributeFilter" placeholder="Filter Attributes...">
    </div>

    <ng-container *ngIf="(attributes?.items | alphabetical | textMatch:attributeFilter | domainMatch:activeDomain | duplicateFilter:activeDomain?.referencedComponentId) as result">
        <div class="px-3 py-2 attribute" *ngFor="let attribute of result"
             (click)="makeActiveAttribute(attribute)"
             [class.active]="attribute === activeAttribute" [class.changed]="attribute.changed && attribute !== activeAttribute"  [class.unpublished]="!attribute.deleted && !attribute.effectiveTime && !attribute.changed && attribute !== activeAttribute" [class.deleted]="attribute.deleted && attribute !== activeAttribute">
            {{attribute.referencedComponent.fsn?.term}}
            <span *ngIf="duplicateAttributes(attribute, result)" class="content-type">{{mrcmmtService.getContentType(attribute.additionalFields.contentTypeId)}}</span>
        </div>
    </ng-container>

    <ng-container *ngIf="activeDomain?.additionalFields.parentDomain">
        <div class="px-3 py-2 attribute attached" *ngFor="let attribute of attributes?.items | alphabetical | inheritedDomainMatch:activeDomain:domains.items | duplicateFilter:activeDomain?.referencedComponentId">
            {{attribute.referencedComponent.fsn?.term}}
        </div>
    </ng-container>
    <div *ngIf="activeAttribute" class="details" [class.minimized]="!detailsExpanded">
        <span class="float-right my-1 mx-3" (click)="detailsExpanded = !detailsExpanded">
            <i *ngIf="detailsExpanded" class="fas fa-caret-down"></i>
            <i *ngIf="!detailsExpanded" class="fas fa-caret-up"></i>
        </span>
        <ng-container *ngIf="editable">
            <h5 class="label m-2">Referenced Component Id<span *ngIf="editable" class="mandatory"> *</span></h5>
            <input type="text" class="detail m-2 mb-3 p-0 px-2 rounded" [(ngModel)]="activeAttribute.referencedComponentId" (change)="updateAttribute()">
        </ng-container>
        <ng-container *ngIf="activeAttribute.additionalFields.grouped || editable">
            <h5 class="label m-2">Grouped<span *ngIf="editable" class="mandatory"> *</span></h5>
            <input type="text" class="detail m-2 mb-3 p-0 px-2 rounded" [(ngModel)]="activeAttribute.additionalFields.grouped" [disabled]="!editable" (change)="updateAttribute()">
        </ng-container>
        <ng-container *ngIf="activeAttribute.additionalFields.attributeCardinality || editable">
            <h5 class="label m-2">Attribute Cardinality<span *ngIf="editable" class="mandatory"> *</span></h5>
            <input type="text" class="detail m-2 mb-3 p-0  px-2 rounded" [(ngModel)]="activeAttribute.additionalFields.attributeCardinality" [disabled]="!editable" (change)="updateAttribute()">
        </ng-container>
        <ng-container *ngIf="activeAttribute.additionalFields.attributeInGroupCardinality || editable">
            <h5 class="label m-2">Attribute in Group Cardinality<span *ngIf="editable" class="mandatory"> *</span></h5>
            <input type="text" class="detail m-2 mb-3 p-0 px-2 rounded" [(ngModel)]="activeAttribute.additionalFields.attributeInGroupCardinality" [disabled]="!editable" (change)="updateAttribute()">
        </ng-container>
        <ng-container *ngIf="activeAttribute.additionalFields.ruleStrengthId || editable">
            <h5 class="label m-2 mb-3">Rule Strength<span *ngIf="editable" class="mandatory"> *</span></h5>
            <select class="detail mx-2 mt-0 mb-3 px-2 rounded" *ngIf="editable" [(ngModel)]="activeAttribute.additionalFields.ruleStrengthId" (change)="updateAttribute()">
                <option *ngFor="let ruleStrength of mrcmmtService.ruleStrengthFields" [value]="ruleStrength.id" >{{ruleStrength.term}}</option>
            </select>
            <div *ngIf="!editable" class="detail m-2 mb-4 pl-2 rounded">{{mrcmmtService.getRuleStrength(activeAttribute.additionalFields.ruleStrengthId)}}</div>
        </ng-container>
        <ng-container *ngIf="activeAttribute.additionalFields.contentTypeId || editable">
            <h5 class="label m-2 mb-3">Content Type<span *ngIf="editable" class="mandatory"> *</span></h5>
            <select class="detail mx-2 mt-0 mb-3 px-2 rounded" *ngIf="editable" [(ngModel)]="activeAttribute.additionalFields.contentTypeId" (change)="updateAttribute()">
                <option *ngFor="let contentType of mrcmmtService.contentTypeFields" [value]="contentType.id">{{contentType.term}}</option>
            </select>
            <div *ngIf="!editable" class="detail m-2 mb-4 pl-2 rounded">{{mrcmmtService.getContentType(activeAttribute.additionalFields.contentTypeId)}}</div>
        </ng-container>
    </div>
</div>
