@import "~src/variables";

div#applicable-attributes-panel {
    position: fixed;
    margin-left: 33vw;
    margin-right: 33vw;
    width: 34vw;
    height: calc(100vh - 12rem);
    background-color: $gallery-white;
    overflow-x: hidden;

    &.details-open {
        height: calc(100vh - 12rem - 33vh);
    }

    &.details-minimized {
        height: calc(100vh - 15rem);
    }

    h1 {
        font-weight: 300;
    }

    input {
        font-weight: 300;
        font-size: 1.6rem;
        cursor: text;
    }

    div.attribute {
        cursor: pointer;

        &.attached {
            color: $dove-grey;
            cursor: not-allowed;
        }

        &.active {
            background-color: $tropical-blue;

            &.changed {
                background-color: $spring-rain-green;
            }
        }

        &.changed {
            background-color: $pixie-green;
        }

        &.unpublished {
            background-color: $antiquewhite;
        }
        
        &.deleted {
            background-color: $indianred;
        }

        span.content-type {
            color: $steel-blue;
        }
    }

    button.add {
        position: absolute;
        right: 0rem;
        top: 1.2rem;
        background: transparent;
    }
    
    button.delete {
        color: $indianred;
    }

    div.details {
        position: fixed;
        width: 34vw;
        bottom: 0;
        background-color: $ghost-grey;
        border-top: 1px solid $regent-grey;
        height: 33vh;
        margin-bottom: 4rem;

        &.minimized {
            height: 3.4rem;
            overflow: hidden;
        }

        span {
            font-size: 1.5rem;
            line-height: 1.8rem;

            &:hover {
                cursor: pointer;
            }
        }

        h5.label {
            font-weight: 300;
        }

        div.detail {
            background-color: $white;
        }

        input.detail{
            background-color: $white;
            font-size: 1.2rem;
            width: -webkit-fill-available;
        }

        select.detail{
            background-color: $white;
            font-size: 1.2rem;
            width: -webkit-fill-available;
        }
    }
}
