@import "~src/variables";

div#applicable-attributes-panel {
    position: fixed;
    margin-left: 33vw;
    margin-right: 33vw;
    width: 34vw;
    height: calc(100vh - 12rem);
    background-color: $gallery-white;
    overflow: scroll;

    &.details-open {
        height: calc(100vh - 12rem - 33vh);
    }

    &.details-minimized {
        height: calc(100vh - 15rem);
    }

    h1 {
        font-weight: 300;
    }

    input {
        font-weight: 300;
        font-size: 1.6rem;
        cursor: text;
    }

    div.attribute {
        cursor: pointer;

        &.attached {
            color: $emperor-grey;
            background-color: $blinding-white;
            cursor: default;
        }

        &.active {
            background-color: $tropical-blue;
        }
    }

    div.details {
        position: fixed;
        width: 34vw;
        bottom: 0;
        background-color: $ghost-grey;
        border-top: 1px solid $regent-grey;
        height: 33vh;
        margin-bottom: 4rem;
        overflow: scroll;

        &.minimized {
            height: 3.4rem;
            overflow: hidden;
        }

        h3.detail-title {
            font-weight: 300;
            color: $black;
            background-color: $regent-grey;

            span:hover {
                cursor: pointer;
            }
        }

        h4.label {
            font-weight: 300;
        }

        div.detail {
            background-color: $white;
        }
    }
}
