<nav class="navbar sticky-top p-0">
    <div class="px-3 active-list">
        <span *ngIf="activeDomain" class="concept">{{activeDomain?.referencedComponent.fsn.term}}</span>
        <span *ngIf="activeDomain && activeAttribute" class="px-2 slash">/</span>
        <span *ngIf="activeAttribute" class="concept">{{activeAttribute?.referencedComponent.fsn.term}}</span>
        <span *ngIf="activeAttribute && activeRange" class="px-2 slash">/</span>
        <span *ngIf="activeRange && activeRange.additionalFields.contentTypeId" class="concept">{{mrcmmtService.getContentType(activeRange.additionalFields.contentTypeId)}}</span>
    </div>
    <div class="float-right">
        <button type="button" class="btn-purple m-0 py-0 px-3" (click)="openResetModal()">RESET</button>
        <button *ngIf="editable" type="button" class="btn-green m-0 py-0 px-3 float-right" (click)="openSwitchModal()">BROWSE</button>
        <button *ngIf="!editable && editor" class="btn-green m-0 py-0 px-3 float-right" (click)="enableEditing()">EDIT</button>
    </div>
</nav>

<!-- RESET MODAL -->
<app-modal id="reset-modal" class="modal">
    <h3 header class="mb-0">Reset Tool?</h3>
    <div body class="text-center p-5">You are about to reset all selections/changes you have made so far</div>
    <div footer>
        <button type="button" class="btn btn" (click)="modalService.close('reset-modal')">CANCEL</button>
        <button type="button" class="btn btn-primary" (click)="resetTool(); modalService.close('reset-modal')">RESET</button>
    </div>
</app-modal>

<!-- SWITCH MODAL -->
<app-modal id="switch-modal" class="modal">
    <h3 header class="mb-0">Discard Edits?</h3>
    <div body class="text-center p-5">You are about to discard all edits you have made so far and switch back to BROWSE</div>
    <div footer>
        <button type="button" class="btn btn" (click)="modalService.close('switch-modal')">CANCEL</button>
        <button type="button" class="btn btn-primary" (click)="disableEditing(); modalService.close('switch-modal')">DISCARD</button>
    </div>
</app-modal>
