// SNOMED COLOURS

// WHITES
$alto-white: #E0E0E0;
$gallery-white: #FAFAFA;
$white: #FFFFFF;

// GREYS
$ghost-grey: #C8CFD6;
$regent-grey: #9FABB7;
$slate-grey: #708090;
$dove-grey: #707070;
$scorpion-grey: #606060;
$emperor-grey: #505050;

// BLACK
$black: #000000;

// BLUES
$onahau-blue: #D2F3FE;
$tropical-blue: #B2D4F5;
$jordy-blue: #91C2F2;
$horizon-blue: #6587A9;
$pacific-blue: #009ACD;
$curious-blue: #1A7DE0;

// REDS
$crimson-red: #D71431;
$pomegranate-red: #F0312D;

// GREENS
$forest-green: #2D8C28;
$apple-green: #38C431;

// YELLOWS
$yellow: #FFFF00;
