// SNOMED COLOURS

// WHITES
$almost-white: #D2D2D2;
$alto-white: #E0E0E0;
$blinding-white: #E9E9E9;
$gallery-white: #FAFAFA;
$white: #FFFFFF;
$antiquewhite: antiquewhite;

// GREYS
$ghost-grey: #C8CFD6;
$regent-grey: #9FABB7;
$slate-grey: #708090;
$dove-grey: #707070;
$scorpion-grey: #606060;
$emperor-grey: #505050;

// BLACK
$darkish: #666F78;
$dark: #56606A;
$bootstrap-black: #343A40;
$black: #000000;

// BLUES
$steel-blue: #4682B4;
$onahau-blue: #D2F3FE;
$lighter-blue: #D0E5F9;
$tropical-blue: #B2D4F5;
$jordy-blue: #91C2F2;
$horizon-blue: #6587A9;
$pacific-blue: #009ACD;
$curious-blue: #1A7DE0;
$snomed-blue: #00A9E0;

// REDS
$new-york-red: #D77C7C;
$crimson-red: #D71431;
$pomegranate-red: #F0312D;
$indianred: indianred;

// ORANGES
$mango-orange: #FBBB5B;

// GREENS
$forest-green: #2D8C28;
$apple-green: #38C431;
$spring-rain-green: #ABD1A9;
$pixie-green: #C4DEC2;
$norway-green: #96C593;

// YELLOWS
$yellow: #FFFF00;
$lightyellow: lightyellow;

// PURPLES
$purple: #6A1D85;
